extends layout

block content
  h2= title

  h3 #{deviceName}
  p Your device is #{lockStatus}
  a(class='button' href=`/devicedetails/${deviceId}/setLocked`) Lock   
  a(class='button' href=`/devicedetails/${deviceId}/setUnlocked`) Unlock
  p Your device is #{isJammed}
  p Your battery is #{batteryLevel}% charged 
  ul PIN Code Credentials
  each name in pinCodeCredentialList 
    li= name